.presentation
{
    padding: 3rem;
    background-color: rgba(240, 240, 240, 0.5);

    
}

.mediaProfile
{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}

.nametitle
{
    font-size:3rem;
    margin-top: 0;
    font-weight: bold;
    margin-bottom: .25rem !important;
}

.profileTag
{
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem !important;
    padding-top: 0;
    margin-top:  0;
}

.textProfile
{
    margin-bottom: 1.5rem;
    line-height: 1.5;
    color: #292929;
    text-align: left;
}

.profilImage
{
    max-width: 400px;
    margin-left: 3rem;
    border-style: none;
   
}

.mediaBody
{
    flex: 1;
}

img
{
    border-style: none;
    vertical-align: middle;
}

.downCv
{
    background:#384f6c;
    margin-top: 2rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 1rem;
    text-decoration: none;
    color: rgba(255,255,255,0.7);
    font-weight: bold;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.downCv:hover
{
    
    color: white;
    background: #2f435c;
    
}



@media screen and (max-width:1200px)
{
      .profilImage
    {
        max-width: 250px;
        

    }
}



@media screen and (max-width:992px){

  
   

      .presentation
    {
        
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .nametitle
    {
        font-size: 2rem;
    }

    .profileTag
    {
        font-size: 1.5rem;
    }



    .textProfile
    {
        font-size: 0.8rem;
    }

    .downCv
    {
     
        font-size: 0.8rem;
    }

    
}

@media screen and (max-width:780px){

    .mediaProfile
    {
        flex-direction: column;
        align-items: center;
       

    }

    .profilImage
    {
        margin-left: 0;
        margin-top: 1.5rem;
    }



}


@media screen and (max-width:560px){


    .profilImage
    {
       max-width: 100%;
    }

    

}