.sectionProject
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.projectTitle
{
    font-weight: bold;

}

.projectImageContain
{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 2px 13px 30px -16px rgba(0,0,0,0.75);
}

.projectImage
{
     width: 100%;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
}

.text_center
{
    text-align: center;
}

.link
{
    text-decoration: none;
}

.projectContain
{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.projectBody
{

}

table
{
    width: 100%;
    
}

table thead
{
    text-align:left;
}

.infoProject
{
    width: 30%;
}

.descriptiont,.colDescription
{
    padding-right: 3rem;
    position: relative;
}

.textDescription
{
    position: absolute;
    top:0.85rem

}

hr
{
    margin-top: 2rem;
}

/* Project Buttons UL et les Li */

.projectLink
{
    text-align:left;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    padding-left: 0;
}

.projectLink li
{
    display: inline-block;
    padding: 0.27rem  0.25rem;
    
}

.projectLink li:first-of-type{
    margin-right: 1rem;  
}

/*////////////// Info Project UL et les Li //////////////////*/
.infoProjectList
{
    list-style: none;
    padding-left: 1.5rem;
}

.infoProjectList li
{
    margin-bottom: 1.8rem;
}

.infoProjectList span{
    font-weight: bold;
}

.infoProjectList svg
{
    margin-right: 0.5rem;
   
}

 .textDescription
 {
     padding-right: 2.5rem;
 }



.githubBtn,.projectBtn
{
    padding: 0.8rem;
    border:none;
    font-size: 0.8rem;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
     text-align: center;
}

.githubBtn
{
    background: rgb(40,40,40);
}

.projectBtn
{
    background: #54B689;
}

.githubBtn svg,.projectBtn svg
{
    margin-right: 0.5rem;
}

.descriptiont,.infoProject
{
    font-size: 2rem;
    font-weight: bold;

}


@media screen and (max-width:1200px)
{
      .infoProject
    {
        width: 40%;
    }

    .infoProjectList
    {
        font-size: 0.8rem;
    }


       .githubBtn,.projectBtn
    {
        font-size: 0.7rem;
       
   
    }


}

@media screen and (max-width:992px)
{

    .projectImageContain
    {
        width: 100%;
    }


    .descriptiont,.infoProject
    {
        font-size: 1.5rem;
       

    }

    .sectionProject
    {
        padding-top: 4.5rem;
    }
    



}

@media screen and (max-width:768px)
{


    .descriptiont,.infoProject
    {
        font-size: 1rem;

    }

    .textDescription
    {
        font-size: 0.8rem;
       
    }
 
  
}




@media screen and (max-width:570px)
{
   .descriptiont,.infoProject
    {
        font-size: 0.8rem;
         

    }

    .infoProjectList,.textDescription
    {
        font-size: 0.7rem;
    }

    .textDescription
    {
        padding-right: 0;
    }
   
    

    .githubBtn,.projectBtn
    {
        font-size: 0.6rem;
        text-align: left;
       
   
    }

 

  

}
