*{
    box-sizing: border-box;
}

body

{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
  color: #4f4f4f;
}

.wrapper
{
  margin: 0 0 0 280px;
  padding:0;
}

.container
{
    
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    
}

.link-on-bg
{
  text-decoration: none;
  color: #54B689;
}

.secondaryColor
{
  color:#384f6c !important;
}



@media screen and (max-width:992px)
{
  .container {
      max-width: 960px;
  }
  .wrapper
  {
    margin-left: 0px;
  }
  

}

@media screen and (max-width:768px)
{
  .container 
  {
    max-width: 720px;
  }
}

@media screen and (max-width:560px)
{
  .container
  {
    max-width: 100%;
  }

}






